.logo-dashboard {
    margin: 0 auto;
    display: block;
}
.logo{
    width:310px;
    height:340px;
}

.espacamento{
    line-height: 170%;
    text-align: justify;
}

.parceiros{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 300%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font: 3rem monospace;
    margin-top: 10%;
}

hr {
    color: #f00;
    background-color: #f00;
    height: 3px;
    margin-left: 41%;
    margin-right: 41%;
    border: #f00;
  }

  .parce{
    margin-top: 5%;
    width:200px;
    height:200px;
    margin: 0 auto;
    display: block;
  }

.color{
    color: black;
}

.tableAnoResultado{
    width: 100%;
    text-align: center;
    background: transparent;
    margin-bottom: 50px;
}
 
.tableAnoResultado th{
    text-align: center;
    font-weight: 700;
}

.tableAnoResultado td{
    cursor: pointer;
}

.tableAnoResultado td:hover{
    color: blue;
}

.div-datas hr{
    margin-bottom: 30px;

}
.div-datas .title{
    font-weight: 800;
}

.divEnsinoFundamentalMedio{
    width: 49%;
    display: inline-block;
    text-align: justify;
}
.div-datas .mat-card{
    border-radius: 7px;
    padding: 0;
    padding-bottom: 10px;
    border: 1px solid #F2DEDE;
}
.div-datas .mat-card-header{
    background-color: #f2dede;
    padding: 10px;
}
.div-datas .mat-card-content{
    padding: 20px;
}

.divEnsinoSuperior{
    width: 49%;
    display: inline-block;
    margin-left: 2%;
    text-align: justify;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap iframe {
    height: 280px;
    width: 300px;
}

.div-contato{
    margin-bottom: 20px;
}
.div-contato hr{
    margin-bottom: 30px;
}

.div-map{
    width: 50%;
    display: inline-block;
}

.div-endereco{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.icon{
    width: 14px;
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}