.logo-dashboard {
    margin: 0 auto;
    display: block;
}

.parceiros{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 300%;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font: 3rem monospace;
    margin-top: 10%;
}

hr {
    color: #f00;
    background-color: #f00;
    height: 3px;
    margin-left: 41%;
    margin-right: 41%;
    border: #f00;
  }

  .parce{
    margin-top: 5%;
    width:200px;
    height:200px;
    margin: 0 auto;
    display: block;
  }

  