.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
}

.teste {
    margin-left: 50%;
    align-self: flex-end;
    align-items: flex-end;
}

.example-spacer {
    flex: 1 1 auto;
}

.font-12 {
    font-size: 12px;
}
  
.div-router{
    padding: 60px 150px 0 150px
}
@media screen and (max-width: 1000px) {

    .div-router{
        padding: 100px 0px 0px 0px
    }
}

@media screen and (max-width: 700px) {

    .div-router{
        padding: 0px 0px 0px 0px
    }
}