.login-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.login-container > * {
  width: 100%;
}

button {
  margin-top: 20px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 200px;
}
.text-center {
  text-align: center;
}

.button1 {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
}