<mat-card>
  <div class="table-responsive">
    <form [formGroup]="alunoForm" (ngSubmit)="submitForm()">

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field class="table-responsive-row" fxFlex="50">
          <input matInput placeholder="Nome da aluno *" formControlName="studentName">
          <mat-error *ngIf="alunoForm.controls.studentName.errors?.required">
            O Nome do Aluno é obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field class="table-responsive-row" fxFlex="50">
          <input matInput placeholder="Genero *" formControlName="studentGender">
          <mat-error *ngIf="alunoForm.controls.studentGender.errors?.required">
            O genero é obrigatório
          </mat-error>
          <mat-error *ngIf="alunoForm.controls.studentGender.errors?.email">
            Email inválido
          </mat-error>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field class="table-responsive-row" fxFlex="48">
          <input matInput placeholder="Série do Aluno *" formControlName="studentDegree">
          <mat-error *ngIf="alunoForm.controls.studentDegree.errors?.required">
            A série do aluno é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <mat-paginator [pageSizeOptions]="[5,10, 30, 100]"
                     [pageSize]="10"
                     showFirstLastButtons
      ></mat-paginator>

      <div class="button-row bt-submit">
        <button mat-raised-button class="mat-raised-button mat-primary btn float-right" type="submit" [disabled]="!alunoForm.valid">{{textSubmit}}</button>
      </div>
    </form>
  </div>
</mat-card>
