<mat-card>
  <div class="table-responsive">
    <form [formGroup]="alunoForm" (ngSubmit)="submitForm()">

      <div fxLayout="row" fxLayoutGap="15px">
        <mat-form-field class="table-responsive-row" fxFlex="50">
          <input matInput placeholder="Nome da aluno *" formControlName="studentName">
          <mat-error *ngIf="alunoForm.controls.studentName.errors?.required">
            Nome do Aluno é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="table-responsive-row" fxFlex="50">
          <mat-select placeholder="Gênero *" formControlName="studentGender">
            <mat-option [value]="genre.id" *ngFor="let genre of genders">{{genre.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="alunoForm.controls.studentGender.errors?.required">
            O genero é obrigatório
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="table-responsive-row" fxFlex="50">
          <input matInput [matDatepicker]="picker" placeholder="Data de nascimento *" formControlName="studentBirth">
          <mat-error *ngIf="alunoForm.controls.studentBirth.errors?.required">
            Data de nascimento é obrigatório
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <mat-paginator [pageSizeOptions]="[5,10, 30, 100]"
                     [pageSize]="10"
                     showFirstLastButtons
      ></mat-paginator>

      <div class="button-row bt-submit">
        <button mat-raised-button class="mat-raised-button mat-primary btn float-right" type="submit" [disabled]="!alunoForm.valid">{{textSubmit}}</button>
      </div>
    </form>
  </div>

</mat-card>
